#tenants-table {
  width: 60%;
  background-color: rgba(196, 196, 196, 0.24);
  padding: 5px 5px 10px 5px;
  margin-top: 100px;
  position: relative;
}

.table-headers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}
.header-wrapper {
  display: flex;
  justify-content: center;
  width: 25%;
}
.header {
  background-color: #35aafe;
  color: #fff;
  padding: 5px;
  min-width: 86px;
  width: fit-content;
  margin-right: 20px;
}

.tenant {
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 45px;
  position: relative;
}
.tenant-details {
  border: 1px solid transparent;
}

.tenant:hover .delete-tenant {
  display: flex;
}
.tenant-data {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-tenant:hover + .tenant-details {
  background-color: rgb(252, 57, 57);
  color: #fff;
}

.delete-tenant {
  display: none;
  position: absolute;

  right: 20px;
  top: 34px;
  padding: 3px;
}
.red {
  background-color: rgb(252, 57, 57);
  color: #fff;
}
.black {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.avatar-name {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tenant-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-right: 20px;
}
