/* The calendar element: */
.react-calendar {
  background: #fff;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 100px;
  width: 70%;
}

/* the GLOBAL day tiles: */
.react-calendar__tile {
  border: grey 1px solid;
}

.react-calendar__month-view__days__day {
  background: #fff;
  color: #000;
  font-size: 3rem;
  height: 80px;
}

/* days of week tiles: */
.react-calendar__month-view__weekdays__weekday {
  background: yellowgreen;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
}

/* month/year tiles: */
.react-calendar__navigation__label {
  background: pink;
  font-size: 2rem;
}

/* week number tiles: */
.react-calendar__month-view__weekNumbers > div {
  align-items: center;
  background: #fff;
  display: flex;
  font-size: 1.45rem;
  font-weight: lighter;
  height: 80px;
  justify-content: center;
}

/* nav arrows tiles: */
.react-calendar__navigation__arrow {
  background: #000;
  color: #fff;
  font-size: 2rem;
  height: 50px;
  width: 50px;
}
