/* backgrounds: */
.winter {
  background-image: url("/src/img/backgrounds/aaron-burden-5AiWn2U10cw-unsplash.jpg");
}

.spring {
  background-image: url("/src/img/backgrounds/ryan-stone-jV2cNlH4e6A-unsplash.jpg");
}

.summer {
  background-image: url("/src/img/backgrounds/tj-holowaychuk-1EYMue_AwDw-unsplash.jpg");
}

.autumn {
  background-image: url("/src/img/backgrounds/sora-sagano-Q-wPqMx3X1I-unsplash.jpg");
}

.winter,
.spring,
.summer,
.autumn {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* Time, date and the language block: */
.timeDateLanguageContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  font-weight: bold;
}

.timeDateLanguageContainer button {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  border: 0;
  color: #fff;
  font-size: 1.45rem;
  margin: 3px 3px 0 0;
  width: 50px;
}

/* Photo author block: */
.photoAuthorInfo {
  bottom: 10px;
  display: flex;
  left: 10px;
  position: absolute;
}

.photoAuthorInfo p {
  margin: 0;
  text-shadow: 2px -1px 7px #fff;
}

.photoAuthorInfo a {
  display: flex;
  align-items: center;
  margin-left: 5px;
  text-decoration: none;
  color: #000;
  text-shadow: 2px -1px 7px #fff;
}

.photoAuthorInfo a:hover {
  text-decoration: underline;
}

.photoAuthorInfo a:visited {
  color: #000;
}
